<p>cart works!</p>

<div *ngFor="let item of products" [ngSwitch]="getPriceCategory(item.price)">
  <p *ngSwitchCase="'AFFO'">
    <span [ngStyle]="getPriceCategoryStyle(item.price)">
      {{ item.name }} - Amount: {{ item.price }} (Affordable)
    </span>
  </p>

  <p *ngSwitchCase="'EXPE'">
    <span [ngStyle]="getPriceCategoryStyle(item.price)">
      {{ item.name }} - Amount: {{ item.price }} (Expensive)
    </span>
  </p>

  <p *ngSwitchDefault>
    <span [ngStyle]="getPriceCategoryStyle(item.price)">
      {{ item.name }} - Amount: {{ item.price }}
    </span>
  </p>
</div>

<!-- <ul>
  <li *ngFor="let item of products">
  <p *ngIf="item.price < 5000; else checkExpensiveElseIf">
    {{ item.name }} - Amount: {{ item.price }} (Affordable)
  </p>

   <ng-template #checkExpensiveElseIf>
    <p *ngIf="item.price > 50000; else checkElse">
      {{ item.name }} - Amount: {{ item.price }} (Expensive)
    </p>
  </ng-template>

   <ng-template #checkElse>
    <p>
      {{ item.name }} - Amount: {{ item.price }}
    </p>
  </ng-template>
  </li>
</ul> -->
