<!-- <div>
  <app-home></app-home>
</div> -->

<!-- <div>
  <app-product-list></app-product-list>
</div> -->

<!-- <div>
  <app-profile></app-profile>
</div>

<div>
  <app-counter></app-counter>
</div>

<div>
  <app-cart></app-cart>
</div> -->

<!-- <div>
  <app-parent></app-parent>
</div> -->

<!-- <div>
  <app-emplyee-array></app-emplyee-array>
</div> -->

<!-- <app-button-child></app-button-child>
<br>
<br>
<button (click)="callChildMethod()">Call Child Method</button>
<br>
<br>
<button (click)="onParentButtonClick()">Change Child Button Color</button> -->

<!-- <div>
  <app-view-children-child></app-view-children-child>
   <app-view-children-child></app-view-children-child>

    <app-view-children-child></app-view-children-child>
     <app-view-children-child></app-view-children-child>
</div> -->

<!-- <button (click)="alertChildren()">Alert</button> -->

<!-- <div>
  <app-ng-items></app-ng-items>
</div> -->

<!-- <div>
  <app-view-children-parent1></app-view-children-parent1>
</div> -->

<!-- <div>
  <app-book-serach></app-book-serach>
</div> -->

<!-- <div>
  <app-chat></app-chat>
</div>   -->
<!-- 
<h1>Product List</h1>


<app-product title="Laptop" price="₹65,000">
  <p>High-performance laptop for coding and gaming.</p>
</app-product>


<app-product title="Smartphone" price="₹25,000">
  <p appBgColor="green">Latest smartphone with AMOLED display.</p>
</app-product>


<app-product title="Headphones" price="₹2,500">
  <p>Noise-cancelling over-ear headphones.</p>
</app-product>


<button appDisableButton type="submit">
  Disable Button
</button>

<br>
<br>
<input
  type="password"
  placeholder="Enter password"
  (strengthChanged)="onStrengthChange($event)"
  appPassword
/>
<div *ngIf="passwordMessage" class="alert alert-warning mt-2">
  {{ passwordMessage }}
</div> -->

<!-- <div
  appHighlightStyle
  *ngFor="let p of products"
  [appHighlightStyles]="!p.instock"
  class="product-box"
  [comStyle]="'2px solid red'"
>
  <h3>{{ p.name }}</h3>
  <p>Price: ₹{{ p.price }}</p>
</div> -->

<!-- <div *appIf="showMessage">
  This message appears only when showMessage is TRUE.
</div>


<div>
  <h2>Data:</h2>
  <ul>
    <li *ngFor="let items of data">{{items}}</li>
  </ul>
  <input [(ngModel)]="newItem" placeholder="New item...">
  <button (click)="addItem()">Add</button>
</div> -->


 <!-- <input [(ngModel)]="inputQuery" placeholder="Search book"/>
    <button (click)="onSearch()">Search</button>

   <div *ngFor="let book of results">
   {{ book.name }}
</div> -->


<app-observer></app-observer>