<!-- <div>
  <app-home></app-home>
</div> -->

<!-- <div>
  <app-product-list></app-product-list>
</div> -->

<!-- <div>
  <app-profile></app-profile>
</div>

<div>
  <app-counter></app-counter>
</div>

<div>
  <app-cart></app-cart>
</div> -->

<!-- <div>
  <app-parent></app-parent>
</div> -->

<!-- <div>
  <app-emplyee-array></app-emplyee-array>
</div> -->


<!-- <app-button-child></app-button-child>
<br>
<br>
<button (click)="callChildMethod()">Call Child Method</button>
<br>
<br>
<button (click)="onParentButtonClick()">Change Child Button Color</button> -->


<div>
  <app-search-parent></app-search-parent>
</div>