<p>profile works!</p>

<button (click)="activeTrueFalse()">
  {{ userProfile.active ? 'Deactivate' : 'Activate' }}
</button>

<div *ngIf="userProfile.active">
    <img [src]="userProfile.image" class="profile-img">
  <p>Name : {{ userProfile.name }}</p>
  <p>Role : {{ userProfile.role }}</p>
</div>

<!-- <input [value]="name" (input)="onNameChange($event)"/> -->
<br/>
<br/>
<br/>

<input [(ngModel)]="userProfile.name" placeholder="Enter name"/>
<input [(ngModel)]="userProfile.role" placeholder="Enter role"/>

<p>Entered Name : {{userProfile.name}}</p>
<p>Entered Role : {{userProfile.role}}</p>


